@charset "UTF-8";

:root{
    --cor1: #496370;
    --cor2: #9B4B53;
    --cor3: #F0E924;
    --cor4:#F02439;
    --cor5: #24ACF0;
}

body{
    background-color: var(--cor1);
}
input{
    width: 225px;
    height: 25px;
    border-radius: 5px;
}
pre{
    background-color: white;
    font-size: 1.25em;
    display: inline-block;
    padding-right:84px;
}
div{
    display: inline-block;
}
#outMedidas{
    margin:20px;
}
#outMedidas button{
    margin-right: 0px;
}
span{
    display: inline-block;
    width: 97px;
    margin-left: 0px;
    text-align: left;
}
button{
    background-color: transparent;
    border: none;
}
button:focus{
    background-color: rgba(128, 128, 128, 0.281);
    width: 100%;
    border-radius: 4px;
    border: 1.5px solid var(--cor2);
    transition-duration: .3s;
    box-shadow: .5px -1px 5px rgba(0, 0, 0, 0.356);
}