@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
:root{
    --cor1: #F5B74E;
    --cor2: #A08B68;
    --cor3: #6D6075;
    --cor4: #4ef5967c;
    --cor5: #B14EF5;
}
*{
    font-family: 'Inter', sans-serif;;
}

body{
    background-color: var(--cor2);
    overflow-x: hidden;
    width: 100%;
}
#nav{
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: lightgray;
    width: 96%;
    height: 25em;
    display: inline-block;
    padding: 30px;
}
h1{
    color: var(--cor1);
    font-weight: bold;
}
#imgCine{
    width: 100px;
    height: 100px;
    display: inline-block;
}
#nav h3{
    font-weight: 500;
}
hr{
    outline: .5px solid var(--cor3);
    border: none;
    margin: 1px;
}
#main{
    position: absolute;
    top: 69%;
    left: 0%;
    background-color: var(--cor3);
    padding: 257px 655px;
    margin-top: 5px;    
}
#inputs{
    position: absolute;
    left: 40%;
    top: 15%;
}
#inputs h1{
    margin-left: 12%;
    color: var(--cor4);
    font-weight: bold;
}
#inNome, #inUrl{
    width: 300px;
    padding: 10px;
    margin: 20px;
    outline: 4px solid var(--cor5);
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color:white;
    text-align: center;
}

#inNome:focus, #inUrl:focus{
    outline: 5px solid var(--cor1);
    transition-duration: .5s;
}
#inNome::placeholder, #inUrl::placeholder{
    color: var(--cor5);
    font-weight: bold
}
#inRange{
    margin-top: 20px;
}
#inRange::-webkit-slider-thumbb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 

    background: #2796ee;
    cursor: pointer;
    
}
#inRange::-moz-range-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%; 

    background: #2796ee;
    cursor: pointer;
}
button{
    width: 104%;
    padding: 8px;
    border: none;
    outline: 3px solid var(--cor1);
    background-color: transparent;
    color: var(--cor1);
    font-weight: bold;
    margin-left: -2%;
    margin-top: 6%;
}
button:active{
    background-color: var(--cor1);
    color: white;
}
#outRange{
    text-align: center;
    color: white;
    background-color: var(--cor4);
    border-radius: 2px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.308);
    width: 100%;
}
#outMovie{

    background-color: var(--cor5);
    width: 100%;
    position: absolute;
    top: 96%;
    left: 0%;
    display: inline-block;
    color: black;
    padding: 40px;
}
img{
    width: 210px;
    height: 300px;
}
#outMovie p{
    margin-bottom: 40px;
}